<!--
  Generated template for the MemberDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Member Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    Personal data:

    <ion-item>
      <ion-label color="primary">Forename</ion-label>
      <ion-input class="member" placeholder="{{ member.forename }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Surname</ion-label>
      <ion-input class="member" placeholder="{{ member.surname }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Description</ion-label>
      <ion-input class="member" placeholder="{{member.description}}"></ion-input>
    </ion-item>

    Function:

    <ion-item>
      <ion-label color="primary">Function</ion-label>
      <ion-input class="member" placeholder="{{ member.function }}"></ion-input>
    </ion-item>


    Scarf:

    <ion-item>
      <ion-label color="primary">Scarf</ion-label>
      <ion-input class="member" placeholder="{{ member.hasScarf }}"></ion-input>
    </ion-item>

    Anchor on scarf:

    <ion-item>
      <ion-label color="primary">Anchor on scarf</ion-label>
      <ion-input class="member" placeholder="{{ member.hasAnchorOnScarf }}"></ion-input>
    </ion-item>

    Cross:

    <ion-item>
      <ion-label>Have cross?</ion-label>
      <ion-select class="left">
        <ion-option>has</ion-option>
        <ion-option>hasnt</ion-option>
      </ion-select>
    </ion-item>

      Technical data:
    <div *ngIf="member.memberId !== null">
      <div class="member" ion-item>memberId
        <button class="member" ion-item>{{ member.memberId }}</button>
      </div>
    </div>
    <div *ngIf="member.personId !== null">
      <div class="member" ion-item>personId
        <button class="member" ion-item>{{ member.personId }}</button>
      </div>
    </div>
    <div *ngIf="member.teamId !== null">
      <div class="member" ion-item>teamId
        <button class="member" ion-item>{{ member.teamId }}</button>
      </div>
    </div>
    <div *ngIf="member.rankId !== null">
      <div class="member" ion-item>rankId
        <button class="member" ion-item>{{ member.rankId }}</button>
      </div>
    </div>
    <div *ngIf="member.cordId !== null">
      <div class="member" ion-item>cordId
        <button class="member" ion-item>{{ member.cordId }}</button>
      </div>
    </div>
  </ion-list>
  <ng-template #present>
    <button class="member" ion-item>Present</button>
  </ng-template>

  <ng-template #notPresent>
    <button class="member" ion-item>Not present</button>
  </ng-template>

  <ng-template #noInfo>
    <ion-input class="member" placeholder="No information"></ion-input>
  </ng-template>

</ion-content>
